# AWS Account CLI Configuration
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_SESSION_TOKEN=

# DynamoDB Tables Names
PRODUCTS_TABLE_NAME=Products
STOCKS_TABLE_NAME=Stocks

# Docker
DYNAMODB_HOST=http://localhost
DYNAMODB_PORT=8000

AWS_PORT=8080
REGION=eu-central-1

# SNS Config
SNS_ALL_PRODUCTS_SUBSCRIBER_EMAIL=
SNS_NO_STOCK_PRODUCTS_SUBSCRIBER_EMAIL=