BFF_SERVICE_URL=http://hazardsoft-bff-api-develop.eu-central-1.elasticbeanstalk.com/
product=https://wqioj42f5a.execute-api.eu-central-1.amazonaws.com/dev/products
cart=https://b9fq9z3kw3.execute-api.eu-central-1.amazonaws.com/api/profile/cart
EXPOSED_PORT=80
PORT=4000
PRODUCTS_CACHE_EXPIRATION = 10